<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <style>
        body {
        margin: 0;
        padding: 0;
        overflow: auto; 
    }
           ::-webkit-scrollbar {
        width: 12px; 
    }
    ::-webkit-scrollbar-track {
        background: rgba(119, 182, 182, 0.781);
    }
    ::-webkit-scrollbar-thumb {
        background: rgba(26, 146, 146, 0.781); 
        border-radius: 6px; 
    }
    
    ::-webkit-scrollbar-thumb:hover {
        background: rgb(22, 90, 238); 
    }
          
    </style>
    <title>Blog Website</title>
</head>
<body style="background-image: url(https://c.wallhere.com/photos/b4/7a/AI_art_minimalism_mountains_vector_illustration_nature-2215842.jpg!d);">
    
    <div class="container">
        
        <br>
        <h1 class = "mb-4">Create New Article</h1>
        <form action="/articles" method = "POST">
            <%- include('form_field') %>
        </form>
    </div>
</body>
</html>